/* Blog Post Cards */

.blog-wrapper {
    margin: 20px 40px 20px 40px;
    padding: 30px;
    overflow: hidden;
    border: 3px solid #00000088;
    transition: 0.15s;
    height: auto;
    border-radius: 10px; 
}
.blog-wrapper:hover {
    border: 3px solid #000000;
    background: #fff;
}

.tag-blog {
    padding: 20px 10px 20px 10px;
}

.tag-blog > a {
    font-size: 20px;
    color: #333;
    line-height: 1;
    padding: 10px 25px;
    border-radius: 30px;
    display: inline-block;
    font-weight: 600;
    margin: 5px;
    text-decoration: none;
}

.tag-blog > a:hover {
    transform: scale(1.02);
    transition-duration: 0.15s;
}

.blog-wrapper h4 a {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    margin-top: 15px;
    text-decoration: none;
}

.blog-wrapper h4 a:hover {
    text-decoration: underline;
}

.blog-card-text {
    line-height: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.blog-hero-text hr {
    border: 3px solid #fff;
    width: 60%;
    margin: 0;
    margin-bottom: 20px;
}

.blog p {
    line-height: 40px;
    margin-bottom: 30px;
}