/* #blog {
    background: linear-gradient(45deg, #458083 25%, #BEFCFF 25% 50%, #005258 50% 75%, #99C23B 75%);
} */

.gray-bg {
      background: #f7f7fd;
}
.f-left {
    float:left;
}
.f-right {
    float:right;
}

.latest-blog-area {
    margin: 20px 0 20px 0;
    padding: 50px 0 50px 0;
}


.blog-wrapper {
    margin: 20px 40px 20px 40px;
    padding: 30px;
    overflow: hidden;
    border: 3px solid #00000088;
    transition: 0.15s;
    
}
.blog-wrapper:hover {
    border: 3px solid #000000;
    background: #fff;
}
.blog-inner {
    overflow: hidden;
}
.tag-blog > a {
    font-size: 14px;
    color: #333;
    line-height: 1;
    padding: 6px 20px;
    border-radius: 30px;
    background-color: #fbba42;
    display: inline-block;
}
.blog-inner h4 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.blog-inner p {
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 30px;
}
.blog-meta {
    border-top: 1px solid #e0e0e0;
    padding-top: 25px;
}
.blog-meta span {
    color: #646464;
}
.blog-meta span a {
    color: #333;
    font-size: 11px;
}
.blog-more {
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    color: #3b3f42;
    text-transform: uppercase;
}
.blog-more-btn {
    transform: translateX(40px);
    transition: 0.3s;
}
.blog-wrapper:hover .blog-more-btn {
    transform: translateX(0px);
}

