.card-col {
    margin: 20px 0 20px 0;
}

.card {
    margin: 0px;
    border-radius: 10px;
    position: relative;
}

.card-icon {
    position: absolute;
    right: 10%;
    top: -10px;
}

.card-block {
    margin: 0;
    padding: 0;
}

.card-block > div {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.card-block h3 {
    font-size: 24px;
    padding: 20px;
    border-radius: 10px 0 0 0;
}

.card-img-top {
    height: auto;
}

.card-title {
    font-weight: 600;
    width: max-content;
}

.card-text {
    text-indent: 2em;
}

.card-highlighted-text {
    padding: 8px 16px;
    /* color: #fff; */
    font-weight: 600;
    font-size: 20px;
}

/* .card-highlighted-text:hover {
    background-color: #157347;
    border-color: #146c43;
    transition-duration: 0.15s;
} */


.list-group {
    /* padding: 5px 20px 5px 20px; */
    border-radius: 0px;
    
}

.list-group-item {

    height: 100%;
    text-align: left;
    font-size: 20px;

    border-radius: 0px;
    border: none;
}

.list-group-item a {
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
    transition-duration: 1s;
}

/* .list-group-item:hover {
    background: #d4d4d4;
    transform: scale(1.01);
    transition-duration: 0.15s;
} */

.important {
    font-weight: 600;
    text-decoration: underline;
}
