.card-col {
    margin: 20px 0 20px 0;
}

.card {
    margin: 0px;
    border-radius: 0;
    position: relative;

    box-shadow: 0;
    top: 0;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
}

.card .card-heading {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 24px;
    padding: 20px;
} 

.card-clickable {
    text-decoration: none;

    &:hover {
        .card-title {
            transition: all 0.2s ease-out;
            text-decoration: underline;
        }
    }
}

.card-icon {
    position: absolute;
    right: 10%;
    top: -10px;
}

.card-img-top {
    height: auto;
    border-radius: 0;
}

.card-title {
    font-weight: 600;
    width: max-content;
}

.card-text {
    text-indent: 2em;
}

.card-highlighted-text {
    padding: 8px 16px;
    /* color: #fff; */
    font-weight: 600;
    font-size: 20px;
}

/* .card-highlighted-text:hover {
    background-color: #157347;
    border-color: #146c43;
    transition-duration: 0.15s;
} */


.list-group {
    /* padding: 5px 20px 5px 20px; */
    border-radius: 0px;
    
}

.list-group-item {

    height: 100%;
    text-align: left;
    font-size: 20px;

    border-radius: 0px;
    border: none;
}

.list-group-item a {
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
    transition-duration: 1s;
}

/* .list-group-item:hover {
    background: #d4d4d4;
    transform: scale(1.01);
    transition-duration: 0.15s;
} */

.important {
    font-weight: 600;
    text-decoration: underline;
}
