/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    TAGS
|====\
|==============================================================|
|==============================================================|
\**************************************************************/

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 100%;
}

footer {
    /* margin-top: 50px; */
    width: 100%;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}
 
h3 {
    font-size: 18px;
}

i {
    padding: 5px;
}

p {
    margin: 10px;
}

pre {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


ul {
    margin: 0px;
    padding: 0px;
}


/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    NAVBAR
|====\
|==============================================================|
|==============================================================|
\**************************************************************/

.navbar {
    height: 100px;
    border-bottom: 3px solid #99c23b;   
    position: relative;
}

.navbar-logo {
    margin: 0 15px 0 0;
    width: 48px;
    height: 48px;
    border-radius: 8px;
}


.navbar-text {
    margin-left: 10%;
    margin-right: 10%;
    bottom: 0;
}

.nav-item {
    font-weight: 600;
}

.nav-item:hover {
    text-decoration: underline;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 991px) {
    .navbar-collapse {
        margin-top: 20px;
        padding: 25px;
        border: 3px solid #f8f9fa;
    }
}

/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    HERO
|====\
|==============================================================|
|==============================================================|
\**************************************************************/


#hero {
    /* height: 100%; */
    /* height: calc(100vh - 100px); */
    position: relative;
    background-color: #eeeeee;
    border-bottom: 3px solid #99c23b; 
}
/*   
#hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: -100px;
    width: 40%;
    height: 100%;
    background-color: #eeeeee;
    transform: skewX(15deg);
    z-index: 9;
    opacity: 50%;
} */

.hero-image-class {
    /* vertical-align: center; */
    background-image: linear-gradient(#D0D1D2 80%, #9D9E9F);
}

#hero-image {
    
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;
}

/* #hero-image:hover {
    transform: scale(1.01);
    transition-duration: 0.2s;
} */
/* 
.hero-header {
    padding: 0 50px 0 50px;
} */

#hero-text {
    padding: 50px 100px 50px 100px;
}

#hero-text p {
    
    text-indent: 2em;
}

.hero-row {
    height: 100%;
}

/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    STYLES
|====\
|==============================================================|
|==============================================================|
\**************************************************************/

.ns-green {
    background-color: #99c23b;
    color: black;    
    font-weight: 500;  
}

.ns-green-hoverable:hover {
    background-color: #80A922;
    color: black;
    font-weight: 500;   
}

.ns-green-dark {
    background-color: #4D7600;
    color: white;
    font-weight: 600; 
    font-size: 16px; 
}

.ns-green-dark-hoverable:hover {
    background-color: #335C00;
    color: white;
    font-size: 16px;
}


.btn-hero {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    MISC
|====\
|==============================================================|
|==============================================================|
\**************************************************************/


.side-padding-container {
    padding: 0 80px 0 80px;
    margin-right: 0px;
}

.flex-row-reverse {
    margin-right: 0px;
}

.paragraph {
    text-indent: 2em;
    font-size: 14px;
    padding-left: 30px;
}




#get-started {
    padding-top: 20px;
}


.contact-link {
    text-decoration: none;
}

.detail-block {
    position: absolute;
    padding-left: 30px;
    font-size: 12px;
}

.hr-bold {
    border: 3px solid rgb(138, 138, 138); 
    margin: 50px;
}



.mini-container {
    margin: 50px 10px 20px 20px;
    border-bottom: 3px solid #99c23b;
    width: 50px;
    white-space: nowrap;
}

.featured-container {
    margin: 20px;
}

.featured-content {
    margin: 20px 50px 50px 20px;
}

.featured-img {
    margin: 20px auto;
    width: 90%;
    border: 3px solid rgb(158, 158, 158);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%)
}

.featured-text p {
    text-indent: 2em;
}

/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    MAIN
|====\
|==============================================================|
|==============================================================|
\**************************************************************/

.main-container {
    width: 80%;
}

.main-content {
    margin: 20px;
    background-color: rgb(255, 255, 255);
}

.carousel {
    width: 640px;
    height: 360px;
    background-color: #dddddd;
}

.carousel-item {
    width: 640px;
    height: 360px;
    background-color: #dddddd;
}

#contact-request-form button {
    margin: 10px auto;
    width: 100%;
}

/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    CARD
|====\
|==============================================================|
|==============================================================|
\**************************************************************/

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin: 0px;
}

/* .card:hover {
    bottom: 5px;
} */

.card-img-top {
    height: auto;
}
.card-block {
    padding: 20px 80px 20px 20px;
    background: #99c23b33;
}

.card-title {
    font-weight: 600;
}

.card-text {
    font-size: 15px;
}

.card-header {
    background: #99c23b;
    /* color: #fff; */
    font-weight: 600;
}

/* .card-header:hover {
    background-color: #157347;
    border-color: #146c43;
    transition-duration: 0.15s;
} */



.list-group {
    /* padding: 5px 20px 5px 20px; */
    border-radius: 0px;
    
}

.list-group-item {
    margin: 0px;
    padding: 20px 80px 20px 20px;

    height: 100%;
    text-align: left;

    border-radius: 0px;
    border: none;

    background-color: #eeeeee;
}

.list-group-item a {
    color: #151414;
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
    transition-duration: 1s;
}

/* .list-group-item:hover {
    background: #d4d4d4;
    transform: scale(1.01);
    transition-duration: 0.15s;
} */


.important {
    font-weight: 600;
    background-color: rgb(208, 209, 210);
    text-decoration: underline;
}


/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    SIDEBAR
|====\
|==============================================================|
|==============================================================|
\**************************************************************/

.sidebar {
    border-left: 3px solid #9D9E9F;
    border-right: 3px solid #9D9E9F;
    background-color: #f8f9fa;
}

.sidebar-list {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f8f9fa;
}

.sidebar-list-item {
    list-style-type: none;

    padding: 10px 0 10px 10px;
    height: 100%;
    text-align: left;

    background-color: #eeeeee;
    margin-bottom: 5px;
}

.sidebar-list-item a {
    color: #151414;
    /* text-decoration: none; */
}

.sidebar-list-item a:hover {
    text-decoration: underline;
}

.sidebar-list-item:hover {
    background: #D0D1D2;
    transform: scale(1.01);
    transition-duration: 0.15s;
}

.contents-navigation {
    position: sticky;
    top: 50px;
}

/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    FOOTER
|====\
|==============================================================|
|==============================================================|
\**************************************************************/

.footer-social-icon {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    text-decoration: none;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: table-cell;
}

.footer-social-icon i:hover {
    filter: brightness(90%);
    transition-duration: 0.2s;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.instagram-bg {
    background: #dd2553;
}

.github-bg {
    background: #333;
}

/* Footer columns */

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #99c23b;
}

.footer-widget ul {
    float: left;
    width: 45%;
}

.footer-widget ul li {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover{
    color: #99c23b;
}

.footer-widget ul li a {
    color: #eeeeee;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}

/* .footer-logo {
    margin-bottom: 30px;
    color: #fff;
    font-size: 32px;
    border-bottom: 2px solid #99c23b;
    font-weight: 600;
}

.footer-logo img {
    max-width: 64px;
    margin: 20px;
} */

.footer-section {
    background: #151414;
    position: relative;
}

.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #eeeeee;
    line-height: 28px;
}


.copyright-area {
    background: #202020;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}
.copyright-text p a{
    color: #99c23b;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color: #99c23b;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


/**************************************************************\
|==============================================================|
|==============================================================|
|====/
|====|    FOOTER MAILING LIST
|====\
|==============================================================|
|==============================================================|
\**************************************************************/


#mailing-list-form {
    display: flex;
    position: relative;
    border-radius: 0px;
    height: 50px;
}

#mailing-list-form input {
    border: none;
    background: #eeeeee;
    border-radius: 0px;
    /* color: #fff; */
}

#mailing-list-form input:focus {
    outline: none;
    filter: brightness(110%);
    transition-duration: 0.2s;
}

#mailing-list-form button {
    width: 120px;
    border: none;
} 

/* #mailing-list-form button:hover {
    background-color: #157347;
    border-color: #146c43;
    transition-duration: 0.15s;
} */

#mailing-list-email-status {
    margin: 10px 0 0 10px;
    color: #ffffff;
}


/* #mailing-list-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
} */