.ns-relative {
    position: relative;
}

/******************************  GREEN  ******************************/
/* Base: Seedling #99c23b */

.ns-green-5 {
    background-color: #b3dc55; /* -10 */
    color: black;    
    font-weight: 500;  
    font-size: 20px;
}

.ns-green-6 {
    background-color: #99c23b; /* 0 */
    color: black;    
    font-weight: 500;  
    font-size: 20px;
}

.ns-green-6-hoverable:hover {
    background-color: #80A922; /* +10 */
    color: black;
    font-weight: 500;   
}

.ns-green-6-left-underline-1::after {
    content: "";
    background: #99c23b; /* 0 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 5px;
    width: 75px;
}

.ns-green-6-left-underline-2::after {
    content: "";
    background: #99c23b; /* 0 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 50px;
}

.ns-green-9 {
    background-color: #4D7600; /* +30 */
    color: white;
    font-weight: 600; 
    font-size: 20px;
}

.ns-green-9-hoverable:hover {
    background-color: #335C00; /* +40 */
    color: white;
}

.ns-green-9-left-underline-1::after {
    content: "";
    background: #4D7600; /* +30 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 5px;
    width: 75px;
}

.ns-green-9-left-underline-2::after {
    content: "";
    background: #4D7600; /* +30 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 50px;
}

.ns-text-green-6 {
    color: #99c23b; /* 0 */
}

.ns-text-green-6-on-hover:hover { 
    color: #99c23b; /* 0 */
}


.ns-bg-green-palette-1-45 {
    background: linear-gradient(45deg, #458083 20%, #BEFCFF 20% 50%, #005258 50% 80%, #99C23B 80%);
}

.ns-bg-green-palette-1-315 {
    background: linear-gradient(315deg, #458083 20%, #BEFCFF 20% 50%, #005258 50% 80%, #99C23B 80%);
}

.ns-bg-green-palette-2-45 {
    background: linear-gradient(45deg, #005258 20%, #ECF5CE 20% 50%, #778551 50% 80%, #99C23B 80%);
}

.ns-bg-green-palette-2-315 {
    background: linear-gradient(315deg, #005258 20%, #ECF5CE 20% 50%, #778551 50% 80%, #99C23B 80%);
}

.ns-bg-green-palette-3-0 {
    /* background linear gradient with the following colors: #99C23B  #5FB64A #00A75A #00966A #008477 #00727F*/
    background: linear-gradient(0deg, #99C23B 0 15%, #5FB64A 15% 30%, #00A75A 30% 50%, #00966A 50% 70%, #008477 70% 85%, #00727F 85% 100%);
}

.ns-bg-green-palette-3-45 {
    background: linear-gradient(45deg, #99C23B 0 15%, #5FB64A 15% 30%, #00A75A 30% 50%, #00966A 50% 70%, #008477 70% 85%, #00727F 85% 100%);
}

/******************************  BLUE  ******************************/
/* Base: NS #6BB9E6 */

.ns-blue-5 {
    background-color: #85D3FF; /* -10 */
    color: black;    
    font-weight: 500;  
    font-size: 20px;
}

.ns-blue-6 {
    background-color: #6BB9E6; /* 0 */
    color: black;    
    font-weight: 500;  
    font-size: 20px;
}

.ns-blue-6-hoverable:hover {
    background-color: #52A0CD; /* +10 */
    color: black;
    font-weight: 500;   
}

.ns-blue-6-left-underline-1::after {
    content: "";
    background: #6BB9E6; /* 0 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 5px;
    width: 75px;
}

.ns-blue-6-left-underline-2::after {
    content: "";
    background: #6BB9E6; /* 0 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 50px;
}

.ns-blue-9 {
    background-color: #1F6D9A; /* +30 */
    color: white;
    font-weight: 600; 
    font-size: 20px;
}

.ns-blue-9-hoverable:hover {
    background-color: #055380; /* +40 */
    color: white;
}

.ns-blue-9-left-underline-1::after {
    content: "";
    background: #1F6D9A; /* +30 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 5px;
    width: 75px;
}

.ns-blue-9-left-underline-2::after {
    content: "";
    background: #1F6D9A; /* +30 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 50px;
}

.ns-text-blue-6 {
    color: #6BB9E6; /* 0 */
}

.ns-text-blue-6-on-hover:hover { 
    color: #6BB9E6; /* 0 */
}

.ns-text-blue-9-on-hover:hover { 
    color: #1F6D9A; /* +30 */
}

.ns-bg-blue-palette-1-45 {
    background: linear-gradient(45deg, #8D7257 20%, #FFEBCD 20% 50%, #743600 50% 80%, #6BB9E6 80%);
}

.ns-bg-blue-palette-1-315 {
    background: linear-gradient(315deg, #8D7257 20%, #FFEBCD 20% 50%, #743600 50% 80%, #6BB9E6 80%);
}

.ns-bg-blue-palette-2-45 {
    background: linear-gradient(45deg, #743600 20%, #CCF6FF 20% 50%, #2B84AE 50% 80%, #6BB9E6 80%);
}

.ns-bg-blue-palette-2-315 {
    background: linear-gradient(315deg, #743600 20%, #CCF6FF 20% 50%, #2B84AE 50% 80%, #6BB9E6 80%);
}

.ns-bg-blue-palette-3-0 {
    /* background linear gradient with the following colors: #99C23B  #5FB64A #00A75A #00966A #008477 #00727F*/
    background: linear-gradient(0deg, #6BB9E6 0 15%, #70A3DD 15% 30%, #7F8ACD 30% 50%, #8F70B5 50% 70%, #9A5594 70% 85%, #9D3A6D 85% 100%);
}

.ns-bg-blue-palette-3-45 {
    background: linear-gradient(45deg, #6BB9E6 0 15%, #70A3DD 15% 30%, #7F8ACD 30% 50%, #8F70B5 50% 70%, #9A5594 70% 85%, #9D3A6D 85% 100%);
}


/******************************  RED  ******************************/
/* Base: Rose #E17674 */

.ns-red-5 {
    background-color: #FB908E; /* -10 */
    color: black;    
    font-weight: 500;  
    font-size: 20px;
}

.ns-red-6 {
    background-color: #E17674; /* 0 */
    color: black;    
    font-weight: 500;  
    font-size: 20px;
}

.ns-red-6-hoverable:hover {
    background-color: #52A0CD; /* +10 */
    color: black;
    font-weight: 500;   
}

.ns-red-6-left-underline-1::after {
    content: "";
    background: #E17674; /* 0 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 5px;
    width: 75px;
}

.ns-red-6-left-underline-2::after {
    content: "";
    background: #E17674; /* 0 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 50px;
}

.ns-red-9 {
    background-color: #952A28; /* +30 */
    color: white;
    font-weight: 600; 
    font-size: 20px;
}

.ns-red-9-hoverable:hover {
    background-color: #7B100E; /* +40 */
    color: white;
}

.ns-red-9-left-underline-1::after {
    content: "";
    background: #952A28; /* +30 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 5px;
    width: 75px;
}

.ns-red-9-left-underline-2::after {
    content: "";
    background: #952A28; /* +30 */
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 50px;
}

.ns-text-red-6 {
    color: #E17674; /* 0 */
}

.ns-text-red-6-on-hover:hover { 
    color: #E17674; /* 0 */
}

.ns-bg-red-palette-1-45 {
    background: linear-gradient(45deg, #4B7E93 20%, #C5F8FF 20% 50%, #005AA4 50% 80%, #E17674 80%);
}

.ns-bg-red-palette-1-315 {
    background: linear-gradient(315deg, #4B7E93 20%, #C5F8FF 20% 50%, #005AA4 50% 80%, #E17674 80%);
}

.ns-bg-red-palette-2-45 {
    background: linear-gradient(45deg, #005AA4 20%, #FFE4E0 20% 50%, #A64244 50% 80%, #E17674 80%);
}

.ns-bg-red-palette-2-315 {
    background: linear-gradient(315deg, #005AA4 20%, #FFE4E0 20% 50%, #A64244 50% 80%, #E17674 80%);
}

.ns-bg-red-palette-3-0 {
    /* background linear gradient with the following colors: #99C23B  #5FB64A #00A75A #00966A #008477 #00727F*/
    background: linear-gradient(0deg, #E17674 0 15%, #D56591 15% 30%, #B062B1 30% 50%, #6A6AC7 50% 70%, #0070CA 70% 85%, #0070B2 85% 100%);
}

.ns-bg-red-palette-3-45 {
    background: linear-gradient(45deg, #E17674 0 15%, #D56591 15% 30%, #B062B1 30% 50%, #6A6AC7 50% 70%, #0070CA 70% 85%, #0070B2 85% 100%);
}

/******************************  OTHER  ******************************/


.ns-bg-white {
    background-color: #ffffff;
}

.ns-bg-gray-1 {
    background-color: #f8f9fa;
}

.ns-bg-gray-2 {
    background-color: #eeeeee;
}

.ns-bg-gray-3 {
    background-color: #d0d1d2;
}

.ns-bg-gray-1-50 {
    background-color: #f8f9fa88;
}


.ns-bg-gray-2-50 {
    background-color: #eeeeee88;
}

.ns-bg-gray-3-50 {
    background-color: #d0d1d288;
}

.ns-text-gray-1 {
    color: #f8f9fa;
}

.ns-text-gray-2 {
    color: #eeeeee;
}

.ns-text-gray-3 {
    color: #d0d1d2;
}

.ns-text-gray-8 {
    color: #878787;
}



.ns-bg-black-1 {
    background-color: #202020;
}

.ns-bg-black-2 {
    background-color: #151414;
}


.ns-shadow-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ns-text-shadow-1 {
    text-shadow: 2px 2px 4px #000000;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.instagram-bg {
    background: #dd2553;
}

.github-bg {
    background: #333;
}

.ns-subelements-white > * {
    color: #fff;
}





